{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="container">
    <h1>Who We Are</h1>
    <p style="text-align: justify;">San Diego Zoo Wildlife Alliance is an international, nonprofit conservation organization with two front doors: 
    the San Diego Zoo and the San Diego Zoo Safari Park. We integrate wildlife health and care, science, and education 
    to develop sustainable conservation solutions.</p>
</div>
{% endblock content %}